h1 {
    margin-bottom: 0.3em;
}
h2 {
    margin-top: 1em;
}
p {
    margin-top: 0.5em;
}
.paste-list {
    font-family: 'SF Mono', 'Consolas', monospace;
}
.post-date, .post-rss {
    font-size: smaller;
}
.post-link {
    font-size: 1.1em;
    text-decoration: none;
}
.post-list-li {
    list-style-type: circle;
    padding-bottom: 4px;
    
}
img {
  max-width: 100%;    
}
a:link, a:visited, a:active {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
code {
    padding: 4px;
    background-color: var(--preformatted-background-color);
    color: var(--preformatted-text-color);
    border: 1px solid var(--preformatted-background-color);
    border-radius: 5px;
    white-space: pre-wrap;
}
